<div class="container-sm">
    <div class="login-container">
        <h2>{{ "login.login" | translate }}</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="username">{{ "login.username" | translate }}</label>
            <input
                type="text"
                formControlName="username"
                class="form-control"
                required
            />
            <div
                class="alert alert-danger"
                *ngIf="username.errors && (username.dirty || username.touched)"
            >
                <p *ngIf="username.errors.required">
                    {{ "login.errors.usernameRequired" | translate }}
                </p>
            </div>
            <div class="form-group">
                <label for="password">{{ "login.password" | translate }}</label>
                <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    required
                />
                <div
                    class="alert alert-danger"
                    *ngIf="
                        password.errors && (password.dirty || password.touched)
                    "
                >
                    <p *ngIf="password.errors.required">
                        {{ "login.errors.passwordRequired" | translate }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">
                    {{ "login.login" | translate }}
                </button>
                <a routerLink="/register" class="btn btn-link btn-lg btn-block">
                    {{ "login.register" | translate }}
                </a>
            </div>
        </form>
    </div>
</div>
