<app-Sidebar></app-Sidebar>
<div class="main">
    <div class="container-sm">
        <h2>Hesap Detayı</h2>
        <hr />
        <div class="row">
            <div class="col-3">
                <h5>
                    Hesap Adı:
                    <span
                        >{{ account.accountName }} ({{
                            account.currency
                        }})</span
                    >
                </h5>
            </div>
            <div class="col-2">
                <h5>
                    Hesap No:
                    <span>{{ account.accountNumber }}</span>
                </h5>
            </div>
            <div class="col-2">
                <h5>
                    Bakiye:
                    <span>{{ account.amount }}</span>
                </h5>
            </div>
            <div class="col-2">
                <h5>
                    Faiz Oranı:
                    <span>%{{ account.rate }}</span>
                </h5>
            </div>
            <div class="col-3">
                <h5 style="color: tomato;">
                    <span style="color: darkgrey;">Oluşturulma Tarihi: </span
                    >{{ account.date }}
                </h5>
            </div>
        </div>
        <br />
        <h3>Hesap İşlemleri</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Alıcı Hesabı</th>
                    <th>Para Birimi</th>
                    <th>Tutar</th>
                    <th>Açıklama</th>
                    <th>Kalan Bakiye</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tr *ngFor="let transfer of accountTransfers">
                <td *ngIf="transfer.transferType === 'Havale'; else elseblock">
                    {{ transfer.customerReceiveAccountName }}
                </td>
                <td #elseblock>{{ transfer.customerReceive }}</td>
                <td>{{ transfer.customerSendAccountCurrency }}</td>
                <td>{{ transfer.amount }}</td>
                <td>{{ transfer.description }}</td>
                <td>{{ transfer.customerSendAccountAmount }}</td>
                <td>{{ transfer.date }}</td>
            </tr>
        </table>
    </div>
</div>
