<div class="main">
    <div class="container-sm">
        <div class="row">
            <div class="col-10">
                <h2>{{ "sidebar.transfers" | translate }}</h2>
                <div
                    *ngIf="
                        sendTransfers.length !== 0 ||
                            receiveTransfers.length !== 0;
                        else noTransfer
                    "
                >
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    {{ "transfer.sendAccountName" | translate }}
                                </th>
                                <th>
                                    {{
                                        "transfer.sendAccountNumber" | translate
                                    }}
                                </th>
                                <th>
                                    {{
                                        "transfer.receiveAccountNumber"
                                            | translate
                                    }}
                                </th>
                                <th>
                                    {{ "account.currency.title" | translate }}
                                </th>
                                <th>{{ "account.amount" | translate }}</th>
                                <th>
                                    {{ "transfer.description" | translate }}
                                </th>
                                <th>{{ "account.date" | translate }}</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let transfer of sendTransfers">
                            <td>{{ transfer.cSendAccountName }}</td>
                            <td>{{ transfer.cSendAccountNumber }}</td>
                            <td>{{ transfer.cReceiveAccountNumber }}</td>
                            <td>{{ transfer.cSendAccountCurrency }}</td>
                            <td>{{ transfer.amount | myCurrency }}</td>
                            <td>{{ transfer.description }}</td>
                            <td>{{ transfer.date }}</td>
                        </tr>
                        <tr *ngFor="let transfer of receiveTransfers">
                            <td>{{ transfer.cSendAccountName }}</td>
                            <td>{{ transfer.cSendAccountNumber }}</td>
                            <td>{{ transfer.cReceiveAccountNumber }}</td>
                            <td>{{ transfer.cSendAccountCurrency }}</td>
                            <td>
                                {{
                                    transfer.amount | absoluteValue | myCurrency
                                }}
                            </td>
                            <td>{{ transfer.description }}</td>
                            <td>{{ transfer.date }}</td>
                        </tr>
                    </table>
                </div>
                <ng-template #noTransfer>
                    <h4>
                        {{ "transfer.noTransfers" | translate }}
                    </h4>
                </ng-template>
            </div>
            <div class="col-2">
                <button
                    class="btn btn-lg btn-primary"
                    (click)="open(addTransfer, 'Virman')"
                >
                    {{ "transfer.modal.virman" | translate }}
                </button>
                <hr />
                <button
                    class="btn btn-lg btn-primary"
                    (click)="open(addTransfer, 'Havale')"
                >
                    {{ "transfer.modal.havale" | translate }}
                </button>
            </div>
        </div>
    </div>

    <ng-template #addTransfer let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{ getParamFromURL() | translate }}
            </h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
                <label for="cSendAccountNumber">
                    {{ "transfer.sendAccountNumber" | translate }} *
                </label>
                <select
                    class="custom-select custom-select-lg mb-3"
                    formControlName="cSendAccountNumber"
                >
                    <option
                        *ngFor="let account of accounts"
                        value="{{ account.accountNumber }}"
                    >
                        {{ "account.accountNumber" | translate }}
                        {{ account.accountNumber }},
                        {{ "account.accountNumber" | translate }}
                        {{ account.amount }},
                        {{ "account.currency.title" | translate }}
                        {{ account.currency }}
                    </option>
                </select>
                <div
                    class="alert alert-danger"
                    *ngIf="
                        cSendAccountNumber.errors &&
                        (cSendAccountNumber.dirty || cSendAccountNumber.touched)
                    "
                >
                    <p *ngIf="cSendAccountNumber.errors.required">
                        {{ "transfer.modal.errors.sendRequired" | translate }}
                    </p>
                </div>
                <div class="alert alert-info">
                    {{ "account.modal.errors.currencyConvertion" | translate }}
                </div>
                <label for="cReceiveAccountNumber">
                    {{ "transfer.receiveAccountNumber" | translate }} *
                </label>
                <div *ngIf="getParamFromURL() === 'Virman'; else havaleBlock">
                    <select
                        class="custom-select custom-select-lg mb-3"
                        formControlName="cReceiveAccountNumber"
                    >
                        <option
                            *ngFor="let account of accounts"
                            value="{{ account.accountNumber }}"
                        >
                            {{ "account.accountNumber" | translate }}
                            {{ account.accountNumber }},
                            {{ "account.accountNumber" | translate }}
                            {{ account.amount }},
                            {{ "account.currency.title" | translate }}
                            {{ account.currency }}
                        </option>
                    </select>
                </div>
                <ng-template #havaleBlock>
                    <input
                        type="number"
                        formControlName="cReceiveAccountNumber"
                        class="form-control"
                        required
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="
                            cReceiveAccountNumber.errors &&
                            (cReceiveAccountNumber.dirty ||
                                cReceiveAccountNumber.touched)
                        "
                    >
                        <p *ngIf="cReceiveAccountNumber.errors.required">
                            {{
                                "transfer.modal.errors.receiveRequired"
                                    | translate
                            }}
                        </p>
                        <p *ngIf="cReceiveAccountNumber.errors.min">
                            {{ "transfer.modal.errors.numberMin" | translate }}
                        </p>
                    </div></ng-template
                >
                <label for="amount">{{ "account.amount" | translate }} *</label>
                <input
                    type="number"
                    formControlName="amount"
                    class="form-control"
                    min="1"
                />
                <div
                    class="alert alert-danger"
                    *ngIf="amount.errors && (amount.dirty || amount.touched)"
                >
                    <p *ngIf="amount.errors.required">
                        {{ "account.modal.errors.amountRequired" | translate }}
                    </p>
                    <p *ngIf="amount.errors.min">
                        {{ "account.modal.errors.amountMin" | translate }}
                    </p>
                </div>
                <label for="description">
                    {{ "transfer.description" | translate }} *
                </label>
                <input
                    type="text"
                    formControlName="description"
                    class="form-control"
                />
                <div
                    class="alert alert-danger"
                    *ngIf="
                        description.errors &&
                        (description.dirty || description.touched)
                    "
                >
                    <p *ngIf="description.errors.required">
                        {{
                            "transfer.modal.errors.descriptionRequired"
                                | translate
                        }}
                    </p>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">
                        {{ "transfer.modal.add" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </ng-template>
</div>
