<div class="sidenav">
    <h3>{{ username }}</h3>
    <hr />
    <a href="/main">{{ "sidebar.main" | translate }}</a>
    <hr />
    <a href="/accounts">
        {{ "sidebar.accounts" | translate }} ({{ numberOfAccounts }})
    </a>
    <hr />
    <a href="/transfers">{{ "sidebar.transfers" | translate }}</a>
    <hr />
    <button class="btn btn-danger btn-lg" (click)="openModal(logOutModal)">
        {{ "sidebar.logout" | translate }}
    </button>
    <hr />
    <div class="btn-group" role="group" style="width: 100%;">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="changeLanguage('tr')"
        >
            TÜRKÇE
        </button>
        <button
            type="button"
            class="btn btn-secondary"
            (click)="changeLanguage('en')"
        >
            ENGLISH
        </button>
    </div>
</div>

<ng-template #logOutModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{ "sidebar.modal.title" | translate }}
        </h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" (click)="logOut()">
            {{ "sidebar.modal.yes" | translate }}
        </button>
        <button class="btn btn-danger btn-lg" (click)="modal.close()">
            {{ "sidebar.modal.no" | translate }}
        </button>
    </div>
</ng-template>
