<div class="main">
    <div class="container-sm">
        <div class="row">
            <div class="col-10">
                <h2>
                    {{ "sidebar.accounts" | translate }}
                </h2>

                <div
                    class="row card-group"
                    *ngIf="numberOfAccounts; else elseBlock"
                >
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>{{ "account.accountName" | translate }}</th>
                                <th>
                                    {{ "account.accountNumber" | translate }}
                                </th>
                                <th>
                                    {{ "account.currency.title" | translate }}
                                </th>
                                <th>{{ "account.amount" | translate }}</th>
                                <th>{{ "account.date" | translate }}</th>
                                <th>{{ "account.action" | translate }}</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let account of accounts">
                            <td>{{ account.accountName }}</td>
                            <td>{{ account.accountNumber }}</td>
                            <td>{{ account.currency }}</td>
                            <td>{{ account.amount | myCurrency }}</td>
                            <td>{{ account.date }}</td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    (click)="gotoDetails(account.accountNumber)"
                                >
                                    {{ "account.details" | translate }}
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <ng-template #elseBlock>
                    <h4>
                        {{ "account.noAccounts" | translate }}
                    </h4>
                </ng-template>
            </div>
            <div class="col-2">
                <button
                    class="btn btn-lg btn-primary"
                    (click)="open(addAccount)"
                >
                    {{ "account.modal.addAccount" | translate }}
                </button>
            </div>
        </div>
    </div>

    <ng-template #addAccount let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{ "account.modal.addAccount" | translate }}
            </h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                <label for="accountName"
                    >{{ "account.accountName" | translate }} *</label
                >
                <input
                    type="text"
                    formControlName="accountName"
                    class="form-control"
                    required
                />
                <div
                    class="alert alert-danger"
                    *ngIf="
                        accountName.errors &&
                        (accountName.dirty || accountName.touched)
                    "
                >
                    <p *ngIf="accountName.errors.required">
                        {{
                            "account.modal.errors.accountNameRequired"
                                | translate
                        }}
                    </p>
                </div>
                <div
                    class="form-group"
                    *ngIf="numberOfAccounts != 0; else elseblock"
                >
                    <label for="amount">
                        {{ "account.amount" | translate }} *
                    </label>
                    <input
                        type="number"
                        formControlName="amount"
                        class="form-control"
                        min="1"
                    />
                    <div
                        class="alert alert-danger"
                        *ngIf="
                            amount.errors && (amount.dirty || amount.touched)
                        "
                    >
                        <p *ngIf="amount.errors.required">
                            {{
                                "account.modal.errors.amountRequired"
                                    | translate
                            }}
                        </p>
                        <p *ngIf="amount.errors.min">
                            {{ "account.modal.errors.amountMin" | translate }}
                        </p>
                    </div>
                    <br />
                    <label for="otherAmount"
                        >{{ "account.withdrawAccount" | translate }} *
                    </label>
                    <select
                        class="custom-select custom-select-lg mb-3"
                        formControlName="otherAmount"
                    >
                        <option
                            *ngFor="let account of accounts"
                            value="{{ account.accountNumber }}"
                        >
                            {{ "account.accountNumber" | translate }}
                            {{ account.accountNumber }},
                            {{ "account.accountNumber" | translate }}
                            {{ account.amount }},
                            {{ "account.currency.title" | translate }}
                            {{ account.currency }}
                        </option>
                    </select>
                    <div
                        class="alert alert-danger"
                        *ngIf="
                            otherAmount.errors &&
                            (otherAmount.dirty || otherAmount.touched)
                        "
                    >
                        <p *ngIf="otherAmount.errors.required">
                            {{
                                "account.modal.errors.withdrawAccountRequired"
                                    | translate
                            }}
                        </p>
                    </div>
                    <div class="alert alert-info">
                        {{
                            "account.modal.errors.currencyConvertion"
                                | translate
                        }}
                    </div>
                    <label for="currency">
                        {{ "account.currency.title" | translate }} *
                    </label>
                    <select
                        class="custom-select custom-select-lg mb-3"
                        formControlName="currency"
                    >
                        <option value="TL">{{
                            "account.currency.turkishLira" | translate
                        }}</option>
                        <option value="$">{{
                            "account.currency.dolar" | translate
                        }}</option>
                        <option value="€">{{
                            "account.currency.euro" | translate
                        }}</option>
                        <option value="Altın">{{
                            "account.currency.gold" | translate
                        }}</option>
                    </select>
                    <div
                        class="alert alert-danger"
                        *ngIf="
                            currency.errors &&
                            (currency.dirty || currency.touched)
                        "
                    >
                        <p *ngIf="currency.errors.required">
                            {{
                                "account.modal.errors.currencyRequired"
                                    | translate
                            }}
                        </p>
                    </div>
                </div>
                <ng-template #elseblock>
                    <label for="amount">
                        {{ "account.amount" | translate }}
                    </label>
                    <div class="alert alert-info" role="alert">
                        {{ "account.modal.errors.firstAccount" | translate }}
                    </div>
                    <label for="amount">
                        {{ "account.currency.title" | translate }}
                    </label>
                    <div class="alert alert-info" role="alert">
                        TL
                    </div>
                </ng-template>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">
                        {{ "account.modal.addAccount" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </ng-template>
</div>
