<div class="row card-group" *ngIf="numberOfAccounts; else elseBlock">
    <div class="col-4" *ngFor="let account of accounts">
        <div class="card">
            <div style="margin: 20px;">
                <h5 class="card-title">
                    {{ account.accountName }} ({{ account.currency }})
                </h5>
                <p class="card-text">
                    Hesap Numarası: {{ account.accountNumber }}
                </p>
                <p class="card-text">Faiz Oranı: %{{ account.rate }}</p>
                <p class="card-text">
                    Toplam Tutar: {{ account.amount | number: ".2" }}
                </p>
            </div>

            <button
                type="button"
                class="btn btn-danger"
                (click)="deleteAccount(account.accountNumber)"
                *ngIf="account.amount == 0"
            >
                Hesabı Sil
            </button>
            <button
                type="button"
                class="btn btn-primary"
                (click)="gotoDetails(account.accountNumber)"
            >
                Ayrıntılar
            </button>
        </div>
    </div>
</div>
<ng-template #elseBlock><h4>Hesabınız Bulunmamakta.</h4></ng-template>
